html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  color: #000000;
}

img, svg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: underline;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

.container {
  max-width: 1140px;
  padding: 0 30px;
  margin: 0 auto;
}

.section {
  padding-top: 25px;
  padding-bottom: 25px;
}

.section:first-child {
  padding-top: 60px;
}

.section:last-child {
  padding-bottom: 50px;
}

.text-important {
  text-transform: uppercase;
  font-weight: 700;
}

.text-italic {
  font-style: italic;
}

.text-grey {
  color: #5E5E5E;
}
