.section__title {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 900;
  margin-bottom: 30px;
}

.section__text:not(:last-child) {
  margin-bottom: 30px;
}

.section__figure:not(:last-child) {
  margin-bottom: 30px;
}

.section__image {
  display: block;
  margin: 0 auto;
}

.section__image_space_bottom {
  margin-bottom: 30px;
}

.section__caption {
  color: #5e5e5e;
  padding: 15px 30px;
  border: 1px solid #000000;
  border-top: none;
}