.menu__container {
  background: #f1f1f1;
  border-radius: 10px;
  margin-left: -30px;
  padding: 25px 0;
}

.menu__title {
  font-size: 44px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 20px;
  padding-left: 45px;
}